@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 760px;
    max-width: 96%;
}

/*** Buttons ***/
.btn {
    @apply py-1 px-2 rounded;
}

.btn-blue {
    @apply bg-blue-400 text-white;
}

.btn-text-lg {
    @apply text-lg;
}

/*** Task List ***/
.task-list {
    h2 {
        @apply text-2xl font-semibold;
    }
    hr {
        @apply border-blue-400 my-1 mb-3;
    }
    .task {
        @apply p-2 text-gray-50 my-1 flex justify-between content-center;

        .task-buttons {
            @apply text-right flex content-center;

            form {
                @apply mx-1 flex content-center;

                button {
                    span {
                        @apply text-sm flex content-center;

                        &.dashed {
                            border-bottom: 1px dashed gray;
                        }

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        &:nth-of-type( odd ) {
            @apply bg-blue-200 text-gray-800;
        }
        &:nth-of-type( even ) {
            @apply bg-blue-400;
        }
    }
    .no-tasks {
        @apply text-center px-8 py-5;
    }
    &.in-progress-tasks {
        .task {
            &:nth-of-type( odd ) {
                @apply bg-yellow-500;
            }
            &:nth-of-type( even ) {
                @apply bg-yellow-300 text-gray-800;
            }
        }
    }
    &.completed-tasks {
        .task {
            &:nth-of-type( odd ) {
                @apply bg-green-200;
            }
            &:nth-of-type( even ) {
                @apply bg-green-400 text-gray-800;
            }
        }
    }
}
